---
layout: layouts/base.njk
title: Feedback
---
{% from 'components/form-field.njk' import formField %}

<div class="raw">
    <h1>Submit Feedback</h1>

    <form name="feedback" action="/feedback/thanks/" method="POST" data-netlify="true">
        <input type="hidden" name="username" id="id_username" />
        {{ formField({
            label: 'Email',
            input_type: 'email',
            id: 'email',
            required: true
        }) }}
        {{ formField({
            label: 'What’s up?',
            input_type: 'select',
            choices: {
                'comment': 'I have a comment.',
                'bug': 'I found a bug.',
                'feature': 'I have a feature request.'
            },
            id: 'choice'
        }) }}
        {{ formField({
            label: 'Details',
            input_type: 'textarea',
            id: 'text',
            required: true
        }) }}
        {{ formField({
            label: 'Add me to the mailing list.',
            input_type: 'checkbox',
            id: 'mailing'
        }) }}
        <div class="action">
            <input type="submit" value="Submit" />
        </div>
    </form>
</div>

<script>
// Pre-populate the form if we can.
(new URL(window.location)).searchParams.forEach((x, y) => {
    document.getElementById(`id_${y}`).value = x;
});
</script>
