{% if pagination.href.previous or pagination.href.next %}
<nav class="post-pagination">
    <ol>
        <li>
        {% if pagination.href.previous %}
            <a href="{{ pagination.href.previous }}" data-direction="backwards"><span>&larr; Newer</span></a>
        {% endif %}
        </li>
        <li>
        {% if pagination.href.next %}
            <a href="{{ pagination.href.next }}" data-direction="forwards"><span>Older &rarr;</span></a>
        {% endif %}
        </li>
    </ol>
</nav>
{% endif %}
