{%- from 'components/icon.njk' import icon -%}

<ul class="social">
{% for item in social -%}
    <li><a href="{{ item.url }}" aria-label="{{ item.name }}">{{ icon(item.id, item.name) }}</a></li>
{% endfor -%}
</ul>
