<!DOCTYPE html>
<html class="no-js" lang="en-US">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="description" content="An easy and fun way to build a lifelong archive of metadata about your film photography." />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png" />

    <!-- Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://cassettenest.com" />
    <meta property="og:title" content="Cassette Nest — Your analog photography deserves metadata." />
    <meta property="og:description" content="An easy and fun way to build a lifelong archive of metadata about your film photography." />
    <meta property="og:image" content="/img/meta-card.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://cassettenest.com" />
    <meta property="twitter:title" content="Cassette Nest — Your analog photography deserves metadata." />
    <meta property="twitter:description" content="An easy and fun way to build a lifelong archive of metadata about your film photography." />
    <meta property="twitter:image" content="/img/meta-card.png" />

    <link rel="stylesheet" href="/css/main.css" />
</head>

<body{%- if bodyClass %} class="{{ bodyClass }}"{%- endif -%}>
    <div class="wrapper">
        <header class="c-site-nav">
            {%- if bodyClass != 'landing' %}
                <div class="film-icon">
                    {% if page.url != '/' %}
                        <a href="/"><img src="/img/icon.svg" height="35" width="35" alt="Cassette Nest Icon" /></a>
                    {% else %}
                        <img src="/img/icon.svg" height="35" width="35" alt="Cassette Nest Icon" />
                    {% endif %}
                </div>
            {%- endif %}
            {% if page.url != '/feedback/' and page.url != '/feedback/thanks/' %}
            <nav>
                <ul>
                    <li><a href="https://app.cassettenest.com/accounts/login/">Log in</a></li>
                </ul>
            </nav>
            {% endif %}
        </header>
        {% if bodyClass == 'landing' %}
        <div class="icon">
            <a href="/"><img src="/img/icon.svg" height="100" width="100" alt="Cassette Nest Icon" /></a>
        </div>
        {% endif %}
        <main>
            {{ content | safe }}
        </main>
        <footer>
            <p>Copyright &copy; 2016–{{ page.date.getFullYear() }} <a href="https://treylabs.com">Trey Labs LLC</a>. All rights reserved.</p>
        </footer>
    </div>

{% include 'components/tracking.njk' %}
</body>
</html>
