<!DOCTYPE html>
<html class="no-js" lang="en-US">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
        {%- if page.url == '/' -%}
        {{- metadata.tagline -}}
        {%- else -%}
        {{- renderData.title or title or metadata.title -}}
        {%- if '/changelog/' in page.url and page.url != '/changelog/' %} / Changelog{%- endif %} / Cassette Nest
        {%- endif -%}
    </title>
    {% if '/changelog/' in page.url %}
    <meta name="description" content="{{ metadata.changelogDescription }}" />
    {% else %}
    <meta name="description" content="{{ description or metadata.description }}" />
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="alternate" type="application/atom+xml" href="/feed.xml" />

    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png" />

    <!-- Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://cassettenest.com" />
    <meta property="og:title" content="{{ metadata.tagline }}" />
    <meta property="og:description" content="{{ metadata.description }}" />
    <meta property="og:image" content="/img/meta-card.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://cassettenest.com" />
    <meta property="twitter:title" content="{{ metadata.tagline }}" />
    <meta property="twitter:description" content="{{ metadata.description }}" />
    <meta property="twitter:image" content="/img/meta-card.png" />

    <link rel="stylesheet" href="/css/main.css" />
    <script async defer data-domain="cassettenest.com" src="https://plausible.io/js/plausible.js"></script>
</head>

<body{%- if bodyClass %} class="{{ bodyClass }}"{%- endif -%}>
    <div class="wrapper">
        <header class="c-site-nav">
            {%- if bodyClass != 'landing' %}
                <div class="film-icon">
                    {% if page.url != '/' %}
                        <a href="/"><img src="/img/icon.svg" height="35" width="35" alt="Cassette Nest Icon" /></a>
                    {% else %}
                        <img src="/img/icon.svg" height="35" width="35" alt="Cassette Nest Icon" />
                    {% endif %}
                </div>
            {%- endif %}
            {% if page.url != '/feedback/' and page.url != '/feedback/thanks/' %}
            <nav>
                <ul>
                    {% if '/changelog/' in page.url %}
                    <li class="current"><span>Changelog</span></li>
                    {% else %}
                    <li><a href="/changelog/">Changelog</a></li>
                    {% endif %}
                    {% if '/policies/' in page.url %}
                    <li><span>Policies</span></li>
                    {% else %}
                    <li><a href="/policies/">Policies</a></li>
                    {% endif %}
                    {% if page.url == '/' %}
                    <li><a href="https://app.cassettenest.com/accounts/login/">Log in</a></li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </header>
        {% if bodyClass == 'landing' %}
        <div class="icon">
            <a href="/"><img src="/img/icon.svg" height="100" width="100" alt="Cassette Nest Icon" /></a>
        </div>
        {% endif %}
        <main>
            {{ content | safe }}
        </main>
        <footer>
            <p>Copyright &copy; 2016–{{ page.date.getFullYear() }} <a href="https://treylabs.com">Trey Labs LLC</a>. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>
