---
layout: layouts/base.njk
permalink: "changelog/{{ page.fileSlug }}/"
description: metadata.changelogDescription
bodyClass: changelog
---

<h1><a href="/changelog/">[arrow back]</a> {{ title }}</h1>
<div class="post-date">
    <i>{{ page.date | fullDate }}</i>
</div>

<div class="content">{{ content | safe }}</div>
