main {
    padding: 2rem;
    font-size: 1.2rem;
    line-height: 1.5;
}

.content,
.posts { margin-top: 3rem; }

.posts {
    list-style: none;
    padding: 0;

    .post {
        &__tags,
        &__date {
            font-size: 0.7em;
        }
    }

    .post + .post { margin-top: 2rem; }
}

.all { margin-top: 5rem; }

nav.post-pagination,
nav.post-navigation {
    margin-top: 5rem;

    ol {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0;
    }
}
