.social {
    list-style: none;
    margin: 0;
    margin-top: 4rem;
    padding: 0;
    display: flex;

    li {
        margin-right: 2rem;
        margin-bottom: 1rem;

        &,
        a { display: flex; }
    }

    svg {
        fill: rgba(0, 0, 0, 0.8);
        height: 2rem;
        width: 2rem;
    }

    // The RSS icon is too big.
    li.rss {
        a { align-items: center; }

        svg {
            height: 1.5rem;
            width: 1.5rem;
        }
    }

    a:hover,
    a:focus {
        background: none;

        svg { fill: $gold; }
    }
}
