---
layout: layouts/base.njk
title: Documentation
bodyClass: documentation
pagination:
    data: collections.documentation
    size: 20
---

<h1>{{ title }}</h1>

<ul class="posts">
{% for post in pagination.items %}
    <li class="post">
        <div class="post__url">
            <a href="{{ post.url | url }}" class="postlist-link">
                {% if post.data.title %}
                    {{ post.data.title }}
                {% else %}
                    <code>{{ post.url }}</code>
                {% endif %}
            </a>
        </div>
        <div class="post__date">{{ post.date | midDate }}</div>
        <div class="post__tags">
            {% for tag in post.data.tags %}
                {%- if tag != "documentation" -%}
                    {% set tagUrl %}/{{ section }}/tag/{{ tag }}/{% endset %}
                    <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
                {%- endif -%}
            {% endfor %}
        </div>
    </li>
{% endfor %}
</ul>

{% if pagination.href.previous or pagination.href.next %}
<nav class="post-pagination">
    <ol>
        <li>
        {% if pagination.href.previous %}
            <a href="{{ pagination.href.previous }}" data-direction="backwards"><span>&larr; Newer</span></a>
        {% endif %}
        </li>
        <li>
        {% if pagination.href.next %}
            <a href="{{ pagination.href.next }}" data-direction="forwards"><span>Older &rarr;</span></a>
        {% endif %}
        </li>
    </ol>
</nav>
{% endif %}
