---
layout: layouts/base.njk
title: Cassette Nest
description: Build a lifelong archive of metadata about your film photography.
---

<div class="raw">
    <div class="illustration">
        <img src="/img/illustration-600.jpg" alt="Cassette Nest Illustration" width="300" height="286.5" />
    </div>

    <p>An easy and fun way to build a lifelong archive of metadata about your film photography.</p>

    <p><a href="https://youtu.be/SeCkpV7DAlE">Watch an introductory video.</a></p>

    <hr />

    <h2>We’re still developing…</h2>

    <p>If you’re feeling brave, you can go ahead and <a href="https://app.cassettenest.com/register/">sign up for an account</a>.</p>

    <hr />

    <p>Subscribe for updates:</p>

    <form action="https://buttondown.email/api/emails/embed-subscribe/cassettenest" method="post">
        <label for="bd-email">Email</label>
        <input type="email" name="email" id="bd-email" />
        <input type="hidden" value="1" name="embed" />
        <div class="action">
            <input type="submit" value="Subscribe" />
        </div>
    </form>

    {% include 'components/social.njk' %}
</div>
