---
layout: layouts/base.njk
title: Cassette Nest
description: Build a lifelong archive of metadata about your film photography.
bodyClass: landing
---

<div class="raw">
    <h1>Cassette Nest</h1>
    <p>Track your film from box to binder.</p>

    <p><a href="https://youtu.be/SeCkpV7DAlE">Watch an introductory video.</a></p>

    <hr />

    <h2>We’re still developing…</h2>

    <p>Submit your email address and we’ll let you know when we’re ready!</p>

    <form action="/.netlify/functions/newsletter" method="POST">
        <div>
            <label for="id_email">Email</label>
            <input id="id_email" name="email" type="email" required />
            <input name="email2" type="email" style="padding: 0; height: 0; width: 0; border: 0; position: absolute;" />
            <input id="form-submit-input" name="Submit" type="submit" value="Submit" />
        </div>
    </form>

    <p>You’re always welcome to <a href="https://s.trey.cc/cn-slack">join the Casssette Nest Slack</a>.</p>
</div>
