---
layout: layouts/base.njk
title: Thanks for signing up for Cassette Nest!
bodyClass: landing
---

<div class="raw">
    <h2>Thanks! We'll be in touch.</h2>

    {% include 'components/social.njk' %}
</div>
