---
layout: layouts/base.njk
title: Thanks for signing up for Cassette Nest!
bodyClass: landing
---

<div class="raw">
    <h2>Thanks! We'll be in touch.</h2>
    <p><a href="https://twitter.com/cassettenest">Follow us on Twitter</a> if you&rsquo;re so inclined.</p>
</div>
