---
layout: layouts/base.njk
title: Why
bodyClass: why
---

<h1>Why Cassette Nest?</h1>

<p>Now you can easily answer these questions…</p>

<h2>What film do I have?</h2>
<p>See at a glance all the film you have. Easily filter by format (35mm, 120), type (color negative, black and white, slide), or any combination thereof. Want to know how many rolls of black and white film in 35mm you have?&nbsp;Easy!</p>
<div class="image"><img src="/img/marketing/inventory-filter.gif" width="770" height="640" alt="A demonstration of filtering your inventory of film by type and format."></div>

<hr />

<h2>What do I need to get processed?</h2>
<p>It's hard to keep track of what film you that needs to be developed. Placing an order for processing (or knowing which chemicals you need) can be tedious. Remove some complexity from your workflow so you can get out and expose more film!</p>
<div class="image"><img src="/img/marketing/ready.png" width="770" height="640" alt="A view of your rolls of film that are ready to be developed."></div>

<hr />

<h2>What's loaded right now?</h2>
<p>The Dashboard shows your currently loaded cameras (including what they have in them!), your cameras that are ready to be loaded, and any current projects.</p>
<div class="image"><img src="/img/marketing/dashboard.png" width="770" height="640" alt="The dashboard / home page showing "></div>

<hr />

<h2>How many rolls did I shoot last year?</h2>
<p>See all the film you've shot and, if you want, even filter by year! The Logbook page is also the place to track your film as it transitions from being processed to being safely archived in a binder on your shelf. Make sure all the film you send out makes its way back home.</p>
<div class="image"><img src="/img/marketing/logbook-2020.png" width="770" height="640" alt="A list of the 7 rolls of film I shot in 2020."></div>

<p class="signup">
    <a class="button" href="https://app.cassettenest.com/register/">Sign up!</a>
    <span>or</span> <a href="https://app.cassettenest.com">Log in</a>
</p>
